

@media (min-width: 1700px) {
    .header h1{
        top: 3vh;
        right: 29vw;
    }
    .header p{
        right: 14.5vw;
        font-size: var(--buttonFont);
        width: 1312px;

        line-height: 1.5em;
    }
    .header .imgContainer{
        top:  55vh;
    }
    .header button{
        right:  36vw;
    }
    .body h3{
        right: 42vw;
    }
    .body h4{
        right: 33vw;

    }
    .body p{
        font-size: var(--buttonFont);
        right: 19vw;
        line-height: 1.5em;
    }
    .body .how{
        right: 45vw;
    }
    .body .howp{
        font-size: var(--buttonFont);
        right: 19vw;
        line-height: 1.5em;
    }
    .body .formb{
        right: 30vw;
        top: 370vh;
        height: 830px;
    width: 800px;
    }
    .body .formb dialog{
        height: 830px;
    width: 800px;
    }
    .body .formb dialog h3{
        right: 31%;
        font-size: var(--largeFont);

    }
    .body .formb dialog p{
        right: 22%;
        font-size: var(--buttonFont);
    }
    .body .formb h3{
            right: 28%;
            top: 5%;
        font-size: var(--buttonFont);
    }
    .body .formb h4{
        right: 19%;
        top: 18%;
   
    
    }
    
    .body .formb form{
        right: 19%;
        top: 30%;
    
    }
    
    .body .formb form .specific {
        height: 350px;
        width: 455px;
        
    }
    
    .body .formb form .specific input{
        outline: none;
        border-top: none;
        border-right: none;
        
    }
    .body .formb form .submit{
        top: -2%;
        width: 100%;
        height: 100px;
    }
    .body .faq{
        right: 45vw;
        top: 475vh ;
     }
    
     .faq-container {
        width: 800px;
        top: 492vh;
        right: 30vw;
     }
     .faq-item{
        font-size: larger;
     }
     footer{
        top: 540vh;
     }
     footer .developed{
        height: 200px;
        top: 5vh;
     }
     .contact-icons{
        position: relative;
        top: 0vh;
      }
      footer .developedres{
        display: none;

      }
     
      #NagishLiTrigger {
        right: 95.5vw !important ;
        top: 10vh;}
}

/* Mobile styles */
@media (max-width: 700px) {
    .content-wrapper{
        position: relative;
       min-width: 100%;
       overflow-x: hidden;
       height: 440vh;
    }
    
    *{
        overflow-x: hidden;
    }
    #NagishLiTrigger {
        overflow-x: visible;
        right: 83vw !important ;
        top: 10vh;}
.header h1{
    font-size: 2.3rem;
    right: 5vw;
    width: 10em;
}
.header p{
    right: 15vw ;
    top: 17vh !important;
    font-size: 1.7rem !important;
    width: 70vw !important;
  
}
.header .imgContainer{
    overflow-y: hidden;
    top: 48vh;
    right: 13vw;
}
.header .imgContainer .profile{
    position: relative;
    top: 11vh;
    right: 0.2vw;
    height: 8rem;
    width: 15rem;
}
.header .imgContainer .logo{
    top: 7vh !important;
    height: 15rem;
    width: 29rem;
}
.header button{
    height: 5rem;
    width: 15rem;
    top: 84vh;
    right: 21vw;
}
.header button span{
 font-size: 1.3rem;   
}
.body h3{
    
    top: 107vh;
    font-size: 2.3rem;
    right:6vw;
    width: 10em;
}
.body h4{
    top: 114vh;
    font-size: 1.5rem;
    right: 7vw;
    width: 15em;
    text-align: center;
}
.body p{
    right: 14vw ;
    top: 124vh ;
    font-size: 1.66rem ;
    width: 70vw ;
}

.body .how{
    top: 180vh;
    font-size: 2.3rem;
    right:4vw;
    width: 10em;
}
.body .howp{
    
    right: 14vw ;
    top: 188vh ;
    font-size: 1.66rem ;
    width: 70vw ;
}

.body .formb{
    right: 10vw;
    top: 259vh;
    height: 730px;
width:
 330px;
}
.body .formb dialog{
    height: 730px;
    width: 330px;
}
.body .formb dialog h3{
    top: 9vh;
    font-size: 3rem;
    right:-19vw;
    width: 10em;

}
.body .formb dialog p{
    right: 1.5rem;
    top: 30%;
}
.body .formb h3{
    top: 1vh;
    font-size: 1.5rem;
    right:8vw;
    width: 10em;
}
.body .formb h4{
    right: 5vw;
    top: 18%;
    font-size: 1.2rem;


}

.body .formb form{
    right: 1.5rem;
    top: 30%;

}

.body .formb form .specific {
    height: 350px;
    width: 17.5rem;
    
}

.body .formb form .specific input{
    outline: none;
    border-top: none;
    border-right: none;
    
}
.body .formb form .submit{
    top: -8%;
}
.body .faq{
    right:  -23vw;
    top: 349vh ;
 }

 .faq-container {
    width: 330px;
    top: 370vh;
    right: 10vw;
 }
 .faq-item{
    font-size: 1.2rem ;
 }
 footer{
    padding: 0%;
    top: 423vh;
    width: 110%;
    height: 120px;
    flex-direction: row;
    overflow: visible;
    justify-content: space-between;
 }
 footer .developedres{
    color: var(--white);
    text-decoration: none;
    position: absolute;
    top: 15vh;
    display: inline;
    height: 1.5em;
    right: 31vw;
    font-size: 0.6em;
    text-align: center;
    overflow: visible;
   
 }
 footer .developed{
    display: none;
 }
 .contact-icons{
    
    width: 6em;
    right: 10vw;
    top: 1vh;
    overflow: visible;
  }
  .contact-icons i{
    height: 1em;
    width: 1em;
    overflow: visible;

  }
  footer .information i{
    font-size: 0.6em;
    right: 18vw;
    
  }
  footer .information{
    right: 30vw;
    height: 5em;
  }


  }
  